.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.margin-index {
  margin: 10px 0 10px;
}

.justify-content--center {
  justify-content: center;
}